body {
    background-color: black;
}

.poster {
    color: white;
    background-color: black;
    text-align: center;
    width: 50%;
    margin-left: 25%;
    margin-top: 100px;
    font-family: "Libre Baskerville", serif;
}

.motivation-img {
    border: 5px solid white;
    width: 100%;
}

h1 {
    text-transform: uppercase;
    font-size: 3rem;
}